body {
  margin-left: 20%;
  margin-right: 20%;
  font-family: "American Typewriter";

}

.form {
  background-color: honeydew;
  padding: 5px 10% 30px 10%;
}

.title {
  text-align: center;
}

.input {
  margin-bottom: 15px;
}

.operation {
  border-top: solid darkgray 3px;
}

.button {
  text-align: center;
  line-height: 2em;
  border: solid darkgray 3px;
  height: 30px;
  width: 30px;
  display: inline-block;
  color: darkcyan;
}

.result{
  margin-top: 20px;
}

.result div{
  display: inline-block;
}

#summ {
  color: blue;
}

.button2 {
  background-color: red;
  text-align: center;
  line-height: 2em;
  height: 30px;
  width: 30px;
  display: inline-block;
}